html,
body {
  height:  100%;
  margin:  0;
  padding: 0;
}

h1
{
  text-decoration: underline;
}
h3 {
  font-size: 1.3em;
}
#input-editor > div > div > div > div > div > div > h3 {
  color: red;
}

.config,
.output
{
  position: absolute;
  top:      0;
  bottom:   0;
}

.output
{
  left:       50%;
  right:      0;
  overflow-y: scroll;
}

.config
{
  background: #dedede;
  left:       0;
  right:      50%;
  overflow-y: scroll;
}


#plot-area {
  position: absolute;
  left:     0;
  right:    0;
  top:      0;
  bottom:   0;
}

.dash {
  color:       red;
  font-weight: bold;
}


/* Disable simulation buttons */
nav {
  display: none;
}
